@model WhiteHouseGov.Models.Pages.StartPage

@{
    Layout = "/Views/Layout.cshtml";
}

<div class="start-page">
    <div class="banner-block">
        <div class="banner-block__content">
            <div class="banner-block__content-inner">
                <div class="banner-block__content-label">
                    <p>We’re investing in the American people</p>
                </div>
                <h1 class="banner-block__content-title">
                    A Path out of<span class="dewidow">&nbsp;</span>the&nbsp;Pandemic
                </h1>
                <div class="banner-block__content-menu">
                    <ul>
                        <li>
                            <a href="https://www.whitehouse.gov/wp-content/uploads/2021/10/Vaccination-Requirements-Report.pdf">
                                Read the Vaccination Requirements Report
                            </a>
                        </li>
                        <li>
                            <a href="https://www.whitehouse.gov/covidplan/">
                                Read President Biden's COVID-19 Action Plan
                            </a>
                        </li>
                        <li>
                            <a href="https://www.whitehouse.gov/build-back-better/">
                                The Build Back Better Agenda
                            </a>
                        </li>
                        <li>
                            <a href="https://www.whitehouse.gov/briefing-room/statements-releases/2021/08/02/updated-fact-sheet-bipartisan-infrastructure-investment-and-jobs-act/">
                                Read about the bipartisan Infrastructure Investment and Jobs Act
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="banner-block__image">
            <div class="banner-block__image-inner">
                <picture>
                    <source media="(min-width: 768px)" srcset="https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-2800x1560.jpg 2800w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-615x343.jpg 615w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1270x708.jpg 1270w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-768x428.jpg 768w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1536x856.jpg 1536w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-2048x1141.jpg 2048w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1149x640.jpg 1149w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-2298x1280.jpg 2298w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-700x390.jpg 700w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1400x780.jpg 1400w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1820x1014.jpg 1820w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1038x578.jpg 1038w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2.jpg 2434w" sizes="(max-width: 2800px) 100vw, 2800px">
                    <img src="https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1400x780.jpg" srcset="https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-2800x1560.jpg 2800w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-615x343.jpg 615w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1270x708.jpg 1270w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-768x428.jpg 768w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1536x856.jpg 1536w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-2048x1141.jpg 2048w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1149x640.jpg 1149w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-2298x1280.jpg 2298w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-700x390.jpg 700w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1400x780.jpg 1400w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1820x1014.jpg 1820w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1038x578.jpg 1038w, https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2.jpg 2434w" alt="" object-fit-cover="https://www.whitehouse.gov/wp-content/uploads/2021/10/Factory-Hero-Crop-2-1400x780.jpg" sizes="100vw">
                </picture>
            </div>
        </div>
    </div>
</div>