<html>
<head>
    <link rel="stylesheet" href="/dist/styles/index.css" />
</head>
<body>
    @Html.Partial("_Header")
    <div class="main">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    <script type="text/javascript" src="/dist/scripts/index.js"></script>
</body>
</html>