<html>
<head>
    <link rel="stylesheet" href="/dist/styles/index.css" />
</head>
<body>
    header here pls
    @RenderBody()
    footer here pls
    <script type="text/javascript" src="/dist/scripts/index.js"></script>
</body>
</html>